# ollama
OLLAMA_MODEL=qwen2.5:7b-instruct
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_TIMEOUT=300.0
OLLAMA_TEMPERATURE=0.2

# эмбеддинги
EMBED_MODEL=intfloat/multilingual-e5-base
EMBED_DEVICE=cuda # cpu

# параметры графа
KG_NUM_WORKERS=4
KG_MAX_TRIPLETS=15
KG_EMBED_NODES=false
CHUNK_SIZE=2048
CHUNK_OVERLAP=128
