llama-index
llama-index-embeddings-yandexgpt
llama-index-readers-file
yandex-ai-studio-sdk
hdbscan
scikit-learn
numpy
python-dotenv
nest-asyncio
python-pptx
docx2txt
openpyxl
tqdm
uvicorn
fastapi
rarfile
xlrd